*{
    padding:0px;
    margin:0%;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


header{
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding:10px;
}

.title{
    font-size: 26px;
}

.container{
    max-width: 1000px;
    margin:auto;
}

section{
padding: 20px;
background-image: url('./imagens/people.jpg');
background-size:cover;
overflow: hidden;
}

.FormContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding:20px;
    float:right;

}

h2{
    font-size:16px;
    
}

.mb{
    margin-bottom: 15px;
}

input,select{
    width:100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;  
    margin-bottom:10px;
}

input[type="submit"]{
    color:white;
    background-color: #48C5CE;
    font-weight: bold;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('./imagens/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}


footer{
    background-color:rgba(58, 16, 16, 0.356);
    padding:40px;
    text-align:center;
}

.picture{
    width: 160px;

}


.description{
    display:inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    }

.description p, .description h3{
    margin-bottom:30px;
}

.description h3{
    font-size:24px;
}